*{
    padding: 0px;
    margin: 0px;
}

body{
    display:flex;
    justify-content: center;
}

#container{
    border: 5px solid black;
    margin-top: 100px;
    display: flex;
    width: 1200px;
    height: 700px;
    background-color: #d3d3d3;
}

#number_page{
    display: grid;
    justify-content:center;
    margin-left: 30px;
    width: 20%;
    height: 100%;
    background-color: white;

}

#list_data{
    width: 75%;
    height: 100%;
    margin-left: 10px;
    overflow-y: auto;
}

#loading{
    width: 100%;
    height: 100px;
}

#page{
    margin-top: 100px;
    text-align: center;
}

.box_list{
    margin: 10px;
    width: 98%;
    height: 100px;
    background-color: white;
    border-radius: 5px;

}